*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}


/* CSS RESET */


/* BLOCKS */

body {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.design-container {
  flex: 1;
}

.main-container {
  flex: 2;
}


/* MAIN */

.main-container {
  display: flex;
  flex-direction: column;
}

.main-container > *{
  padding: 4rem;
}

.main.header-container {
  margin-top: 6rem;
}

.main.form-container {
  flex: 1;
}

.main-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 6rem;
}

.form-item {
  display: flex;
  flex-direction: column;
}
.footer-form {
  margin-top: 4rem;
}


.main-form {
  height: 15rem;
}